
@media screen and (max-width: 760px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 60px;
    }
  
    main {
        grid-template-columns: 1fr;
        width: auto;
    }

    #data {
        padding: 0px;
    }

    #result {
        padding: 40px;
    }

    #gridButtons {
        grid-template-columns: 1fr 1fr;
      }
  }
